$black:       #000000 !default;
$pink:        #f03278 !default;
$gray:        #343a40 !default;
$white:       #f8f9fa !default;
$red:         #560818 !default;
$blue:        #1E90FF !default;
$green:       #64df83 !default;
$orange:      #fd7e14 !default;
$yellow:      #ffc107 !default;

$color-palette: (
  black:            #000000,
  primary:            #000000,
  pink:             #f03278,
  secondary:          #f03278,
  gray:             #343a40,
  white:            #f8f9fa,
  red:              #560818,
  blue:             #1E90FF,
  green:            #64df83,
  beige:            #F5F5DC,
  silver:           #708090,
  gold:             #FFD700,
  crimson:          #DC143C,
  lightred:           #CD5C5C,
  royalblue:        #4169E1,
  steelblue:        #4682B4,
  lightblue:        #00BFFF,
  cornflowerblue:   #6495ED,
  turquoise:        #40E0D0,
  darkturquoise:    #00CED1,
  cyan:             #00FFFF,
  darkcyan:         #008B8B,
  lightseagreen:    #20B2AA,
);

$primary:       $black !default;
$light:         $white !default;
$secondary:     $pink !default;
$dark:          $gray !default;

$theme: (
  primary:       $primary,
  secondary:     $secondary,
  dark:          $dark,
  light:         $light
);

// Goes through all colors
@mixin get-colors {
  @each $color, $value in $color-palette {
    &-#{$color} {
      color: $value;
    }
  }
}

// Goes only into colors specified as `theme`
@mixin get-darken-colors {
  @each $color, $value in $theme {
    &-#{$color}-darken {
      color: darken($value, 5%);
    }
    &-#{$color}-lighten {
      color: lighten($value, 5%);
    }
  }
}

.text {
  @include get-colors;
  @include get-darken-colors
}

.example {
  color: map-get($color-palette, lightblue);
} // outputs: .example { color: #00BFFF; }
